@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html { font-size: 100%;}

:root {
  /* colors */
  --bgColor: #D5E1EF;
  --lightGrey: #68778D;
  --darkGrey: #1F314F;
  --white: #FFF;

  /* font */
  --bodyFont: "Outfit", sans-serif;
  --textLS: 0.2px; /* letter spacing for regular text */

  /* padding */
  --lgPadding: 2.5rem;
  --mdPadding: 1.5rem;
  --smPadding: 1rem;
}

body {
  background-color: var(--bgColor);
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: var(--bodyFont);
}

.img {
  display: block;
  width: 100%;
}

.container {
  width: 20rem;
  background-color: var(--white);
  padding: 1rem;
  padding-bottom: var(--lgPadding);
  border-radius: 20px;
}

.container img {
  border-radius: 10px;
  margin-bottom: var(--mdPadding);
}

.text-content {
  padding: 0 1rem;
}

.heading {
  font-weight: 700;
  color: var(--darkGrey);
  font-size: 1.375rem;
  line-height: 120%;
  text-align: center;
  margin-bottom: 1rem;
}

.text-content p {
  color: var(--lightGrey);
  text-align: center;
}













